<html>
  <head>
    Welcome to Spotify Player
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">


  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  </head>
  <body>
    <div>Spotify Player: <a href="/index">Home</a></div>
    <div><a href="/queue">Queue</a></div>
    <div>
      <a target="_blank" rel="noopener noreferrer" href="/search">Search</a>
    </div>
    <hr>
    {% block content %}{% endblock %}
  </body>

  <footer>

    <p onclick="toggleAudio()">Toggle Play</p>
    <p onclick="myFunction()">Click me to change my text color.</p>
    <p onclick="playAudio('1KDYN3odJHnj9pqGHN3FVs')">Play Song.</p>
    <p onclick="getState()">Get State.</p>
    <p onclick="addToQueue()">Add to Queue</p>
    <p onclick="monitorPlayBack()">Is Over</p>

    <body>

      <script src="https://sdk.scdn.co/spotify-player.js"></script>

      <script>

        var player;
        var token;
        var position;
        var duration = 25000;
        var timer = 500;
        var isPlaying = 0;
        var firstRun = 1;

        var songQueue = [];

        window.onSpotifyWebPlaybackSDKReady = () => {

          token = 'BQBUDDYo_KF0TZe-1ir4soLCiajkncSTd_SJaY2GxwB58EJUIXW8RvbwBcBhIjuxO171MnP7pYa24OJmLpzW4gXGFD_PXHIhMyPFnJG3TQ32ttc1MKYJ3HtSctC6Mucs4GwdiXc6XK0pGGEE9v9t0nZFLmHBP8lGwKJUfA';
          //token = 'BQCArgQoNlQTePELW6buAWkYRE28615vkYM-bdJoqW_JYnePO2Yx0zz3OYSj9vN_pa-B7hv0_IzfrneStPBFUBHJIrJmTL0UoQz6u6jw_SUHJJZGGuxClMkgYFYaWZuF-Dj73-Q70wzpO1J_TVVnpk_2rKy2nmn2SO5MTPhj';

          player = new Spotify.Player({
            name: 'Web Playback SDK Quick Start Player',
            getOAuthToken: cb => { cb(token); }
          });

          // Error handling
          player.addListener('initialization_error', ({ message }) => { console.error(message); });
          player.addListener('authentication_error', ({ message }) => { console.error(message); });
          player.addListener('account_error', ({ message }) => { console.error(message); });
          player.addListener('playback_error', ({ message }) => { console.error(message); });

          // Playback status updates
          player.addListener('player_state_changed', state => {
            console.log(state);
            position = state.position;
            duration = state.duration;

              var albumArt = document.getElementById('albumArtID');
              albumArt.src = state.track_window.current_track.album.images[0].url;
              albumArt.alt = "https://i.scdn.co/image/77eb7c17cafe550238f91a744a3a1929c0e9d12e";

              document.getElementById('SongName').innerHTML = state.track_window.current_track.name;
              document.getElementById('ArtistName').innerHTML = state.track_window.current_track.artists[0].name;
          });

          // Ready
          player.addListener('ready', ({ device_id }) => {
            console.log('Ready with Device ID', device_id);
          });

          // Not Ready
          player.addListener('not_ready', ({ device_id }) => {
            console.log('Device ID has gone offline', device_id);
          });

          // Connect to the player!
          player.connect();

          document.cookie = "position=0;path=/";
        };

        function monitorPlayBack(){

          player.getCurrentState().then(state => {
            console.log(state);
          });
        }

        function myFunction(){
          player.getVolume().then(volume => {
            let volume_percentage = volume * 100;
            console.log(`The volume of the player is ${volume}%`);
          });
        }

        function toggleAudio(){
          if (isPlaying)
          {
            player.pause().then(() => {
              console.log('Paused!');
              isPlaying = 0;
            });
          }
          else {
            player.resume().then(() => {
              console.log('Resumed!');
              isPlaying = 1;
            });
          }
        }

        function playAudio(id){


          const play = ({
            spotify_uri,
            playerInstance: {
              _options: {
                getOAuthToken,
                id
              }
            }
          }) => {
            getOAuthToken(access_token => {
              fetch(`https://api.spotify.com/v1/me/player/play?device_id=${id}`, {
                method: 'PUT',
                body: JSON.stringify({ uris: [spotify_uri] }),
                headers: {
                  'Content-Type': 'application/json',
                  'Authorization': `Bearer ${access_token}`
                },
              });
            });
          };

          play({
            playerInstance: player,
            spotify_uri: 'spotify:track:' + id,
          });

          isPlaying = 1;
          //firstRun = 0;
        }

        function isOver(length){

          var bo = false;

          player.getCurrentState().then(state => {

            if (parseInt(state.position) > length)
            {
              return 0;
            }
          });

          return 1;
        }

        function testIsOver(){

          if (isOver(30 * 1000)){
            console.log("Over 30 seconds");
          } else {
            console.log("Under 30 seconds");
          }

          if (isOver(60 * 1000)){
            console.log("Over 60 seconds");
          } else {
            console.log("Under 60 seconds");
          }
        }

        function printStuff(){
          console.log(15);
        }

        function getImageUrl(){

          return albumArtURL;
        }

        function cookieSearch(key) {
          let c = document.cookie;
          let result;

          if (c.indexOf(key) > 0) {
            var location = c.indexOf(key);

            result = 0;

            console.log(c.substring(location, location + 3));



          } else {
            if (key == "position")
            {
              result = 0;
            }  else {
              result = `<span style="color: red">Key not found in cookie.</span>`;
            }
            result = 0;
          }
          console.log(result);
          return result;
        }

        //Runs code on interval (milliseconds)
        const runInterval = 500;

        setInterval(function() {

          var pos;

          if (isPlaying && firstRun == 0){
            timer += runInterval;
          }

          if (firstRun == 1 && isPlaying)
          {
            /*if ( document.cookie.indexOf(';') < 6)
            {
              stringPos = document.cookie.substring(document.cookie.indexOf('position=') + 9);
              if (stringPos == NaN)
              {
                stringPos = 0;
              }
              console.log(stringPos);
            }
            else {
              stringPos = document.cookie.substring(document.cookie.indexOf('position=') + 9, document.cookie.indexOf(';'));
            }

            //console.log("cookie search: " + cookieSearch("position"));
            //var stringPos = document.cookie.substring(document.cookie.indexOf('position=') + 9, document.cookie.indexOf(';'));
            //console.log('Changed position to ' + stringPos);
            if (isNaN(stringPos))
            {
              stringPos = 0;
              console.log(0);
            }
            else {
              timer = parseInt(stringPos, 10);
            }

            player.seek(parseInt(stringPos, 10)).then(() => {
              console.log('Changed position to ' + stringPos);
            });*/
            firstRun = 0;
          }



          /*var stringPos = parseInt(cookieSearch("position"),10);
          if (isNaN(stringPos))
          {
            stringPos = 0;
            console.log(0);
          }
          else
          {
            console.log(stringPos);
          }
          //console.log("cookie search: " + stringPos);

          /*if ( document.cookie.indexOf(';') < 6)
          {
            stringPos = document.cookie.substring(document.cookie.indexOf('position=') + 9);

          }
          else {
            stringPos = document.cookie.substring(document.cookie.indexOf('position=') + 9, document.cookie.indexOf(';'));
          }




          if (timer >= parseInt(stringPos,10))
          {
            var positionCookie = "position=" + timer + ";path=/";
            document.cookie = positionCookie;
            console.log(positionCookie);

          }
          if (stringPos > timer && parseInt(stringPos,10) != NaN)
          {
            if (parseInt(stringPos, 10) == NaN)
            {
              timer = 0;
            }
            else {
              timer = parseInt(stringPos, 10);
            }
            console.log("Greater");

          }
          else
          {
            timer = parseInt(stringPos,10);
          }
          //console.log("Value: " + stringPos);
          //console.log("Whole cookie" - document.cookie);
          //var albumArt = document.getElementById('albumArtID');
          //albumArt.src = "https://i.scdn.co/image/77eb7c17cafe550238f91a744a3a1929c0e9d12e";
          //albumArt.alt = "https://i.scdn.co/image/77eb7c17cafe550238f91a744a3a1929c0e9d12e";



          console.log(timer.toString() + " " + duration);*/
          duration = 7000;




          //  document.getElementById('output').innerHTML = state.track_window.current_track.album.images[0];

          if (timer > duration ){
            var qString;
            var queue = fetch('queue')
              .then(response => response.text())
              .then(text => {
                var s1 = text.substring(text.indexOf('spotify:track:'));
                var s2 = s1.substring(s1.indexOf('spotify:track:') + 14, 36);

                document.cookie = "removeSong=" + s2 + ";path=/";
                //console.log(s1);
                console.log(s2);

                playAudio(s2);

                //var idCookie = "id=" + s2;
                //document.cookie = idCookie;

              });

              if (firstRun == 1){

              }
            //var qString = String(queue);

            firstRun = 0;
            //duration = 25000;
            timer = 0;
            var positionCookie = "position=0;path=/";
            document.cookie = positionCookie;


          }



            //state.track_window.current_track.album.images[0];


        }, runInterval);


        </script>

    </body>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <footer class="container-fluid bg-grey py-4" style="background: #818181;">
    <div class="container">
      <div class="row">
        <div class="col-md-2" style="background: #000000;"></div>
          <div class="col-md-8" style="background: #FF0000;">
            <div class="row">
              <div class="col-md-2" style="background: #FF0000;">
                <img id="albumArtID" src="https://i.scdn.co/image/77eb7c17cafe55023812e" alt="Avatar"  width="100" height="100" style="border-radius: 50%;">
              </div>
              <div class="col-md-8" style="background: #00FF00;">
                <div class="col">
                  <div class="row-md-7">
                 <h1 id="SongName" style="font-family:Arial Black;" style="font-size:75%;" > Song Name <h1>
               </div>
                  <div class="row-md-5">
                 <h4 id="ArtistName" style="font-family:Arial Black" style="font-size:75%;"> Artist <h4>
               </div>
                </div>
              </div>
              <div class="col-md-2" style="background: #0000FF;">
                <p>Press to Pause</p>
              </div>
           </div>
          </div>
        <div class="col-md-2" style="background: #000000;">
        </div>
      </div>
    </div>
    </footer>

</html>
