{% extends "base.html" %}

{% block content %}
  <h1>Hi</h1>
  <a href="/search">Search for a song here!</a>
  <p onclick='toggleAudio()' '>Toggle Play</p>
  <p onclick="myFunction()">Click me to change my text color.</p>
  <p onclick="playAudio('1KDYN3odJHnj9pqGHN3FVs')">Play Song.</p>
  <p onclick="getState()">Get State.</p>
  <p onclick="addToQueue()">Add to Queue</p>
  <p onclick="monitorPlayBack()">Is Over</p>
  <p onclick="readFile()">read file test</p>
<body>

  <script src="https://sdk.scdn.co/spotify-player.js"></script>



  <script>

    var player;
    var token;
    var position;
    var duration = 25000;
    var timer = 500;
    var isPlaying = 1;

    var songQueue = [];

    window.onSpotifyWebPlaybackSDKReady = () => {

      token = 'BQCQLyQZO_u0TPaDZ7GnL_DC0GpeGp3x6MazW6iD3gdgQz9jNPkevW7k3UsB7lWenABHqu3F0ktzXMQuQxYwhoOTN7end90GfS74PegwL7rFTHH9z_B1Wo3i4NRBPDmSpB-hBahs7JdPF_29s-eOZWQnLin4YMHWZkmIDQ';

      player = new Spotify.Player({
        name: 'Web Playback SDK Quick Start Player',
        getOAuthToken: cb => { cb(token); }
      });

      // Error handling
      player.addListener('initialization_error', ({ message }) => { console.error(message); });
      player.addListener('authentication_error', ({ message }) => { console.error(message); });
      player.addListener('account_error', ({ message }) => { console.error(message); });
      player.addListener('playback_error', ({ message }) => { console.error(message); });

      // Playback status updates
      player.addListener('player_state_changed', state => {
        console.log(state);
        position = state.position;
        duration = state.duration;
      });

      // Ready
      player.addListener('ready', ({ device_id }) => {
        console.log('Ready with Device ID', device_id);
      });

      // Not Ready
      player.addListener('not_ready', ({ device_id }) => {
        console.log('Device ID has gone offline', device_id);
      });

      // Connect to the player!
      player.connect();


    };

    function monitorPlayBack(){

      player.getCurrentState().then(state => {
        console.log(state);
      });
    }

    function myFunction(){
      player.getVolume().then(volume => {
        let volume_percentage = volume * 100;
        console.log(`The volume of the player is ${volume}%`);
      });
    }

    function toggleAudio(){
      if (isPlaying)
      {
        player.pause().then(() => {
          console.log('Paused!');
          isPlaying = 0;
        });
      }
      else {
        player.resume().then(() => {
          console.log('Resumed!');
          isPlaying = 1;
        });
      }
    }

    function playAudio(id){

      const play = ({
        spotify_uri,
        playerInstance: {
          _options: {
            getOAuthToken,
            id
          }
        }
      }) => {
        getOAuthToken(access_token => {
          fetch(`https://api.spotify.com/v1/me/player/play?device_id=${id}`, {
            method: 'PUT',
            body: JSON.stringify({ uris: [spotify_uri] }),
            headers: {
              'Content-Type': 'application/json',
              'Authorization': `Bearer ${access_token}`
            },
          });
        });
      };

      play({
        playerInstance: player,
        spotify_uri: 'spotify:track:' + id,
      });
    }

    function isOver(length){

      var bo = false;

      player.getCurrentState().then(state => {

        if (parseInt(state.position) > length)
        {
          return 0;
        }
      });

      return 1;
    }

    function testIsOver(){

      if (isOver(30 * 1000)){
        console.log("Over 30 seconds");
      } else {
        console.log("Under 30 seconds");
      }

      if (isOver(60 * 1000)){
        console.log("Over 60 seconds");
      } else {
        console.log("Under 60 seconds");
      }
    }

    function printStuff(){
      console.log(15);
    }

    //Runs code on interval (milliseconds)
    const runInterval = 500;

    setInterval(function() {
      var pos;


      if (isPlaying){
        timer += runInterval;
      }


      console.log(timer.toString() + " " + duration);
      
      duration = 8000;
      if (timer > duration){
        
        playAudio("1KDYN3odJHnj9pqGHN3FVs");
        duration = 25000;
        timer = 0;
      }

    }, runInterval);


  </script>

  </body>
{% endblock %}
